@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: auto;
    background-color:#333333;;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 25%;
}
   
::-webkit-scrollbar-thumb {
    background: #CBCBCB; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #fff; 
}

/*---------------------------------------*/

.container {
    position: relative;
    width: 100%;
}

.layout {
    position: relative;
    width: calc(100% - 300px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

/*---------------------------------------*/

.maze-bank-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 95px;
    top: 480px;
    z-index: 10;
}